body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a:link {
    color: black;
}

a:hover {
    color: gray;
}

.card {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px 5px #888888;
}

.card img{
  border-radius: 50%;
}

.card h1{
 margin-bottom: 4px;
}

.card h2{
 margin-top: 0;
 font-weight: normal;
  color: gray;
}

.card p{
  text-align: justify;
}

.card2 {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  box-shadow: 10px 10px 5px #888888;
}

.card2 img{
  border-radius: 50%;
}

.card2 h1{
 margin-bottom: 4px;
 margin-top: 4px;
}

.card2 h2{
 margin-top: 0;
 font-weight: normal;
  color: gray;
}

.card2 p{
  text-align: justify;
}

.line{
  height: 200px;
  width: 1px;
  margin-left: auto;
  margin-right: auto;
  border-left: 5px solid gray;
}
