body {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  background-image: url("../img/trinitylibrary.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  margin-top: 100px;
  text-align: center;
}

h1:hover {
    color: slategrey;
}

h2 {
  text-align: center;
}

.slideshow-content div {
 margin: 0px auto; // center
 width:1100px;
 height:500px;
 text-align:center;
}
