body {
  color: #bd7eb1;
  font-family: 'Playfair Display', serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

h1:hover { 
    color: slategrey;
}

