body {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  background-image: url("../img/trinitylibrary.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-shadow: 2px 2px #000000;
}

h1 {
  margin-top: 100px;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

h1:hover {
    color: slategrey;
    text-shadow: 2px 2px #000000;
}

h2 {
  text-align: center;
  text-shadow: 2px 2px #000000;
}

.slideshow-content div {
 margin: 0px auto; // center
 width:1100px;
 height:500px;
 text-align:center;
}

button{
  display: block;
	margin: auto;
	width: 2%;
}

h1:hover {

  color: slategrey;

}

img {
	display: block;
	margin: auto;
	width: 40%;
}

button {

	margin: auto;
	display: block;

}
