body {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  background-image: url("../img/woodframe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-shadow: 2px 2px #000000;
}
